html, body{
    margin: 0;  
    padding: 0; 
    background-image: url("../imagenes/fondoo.jpg");   
    font-family: 'Garamond';
    opacity: 3;
}

.container {
    display: flex;
    flex-wrap: wrap; 
}

.link, .image {
    width: 300px; 
    height: 200px;
    flex: 0 0 0.33%; 
    text-align: center; 
    margin: 10px;     
}

.link {
    text-decoration: none;
    background-color: rgb(0, 0, 0, .6);
    color: aliceblue;
    border-radius: 1px;
    margin-left: 92px;   
    transition: color 0.3s ease;   
    justify-content: center;
    font-size:20px;    
    color: aliceblue;
    margin-bottom: 50px;
    border-bottom: 7px solid #5f6767;
    font-weight: 900;
    padding-bottom: 10px;
    display: inline-block;
}

.link:hover {
    color: #484141;
}

.image {
    width: auto; 
    height: 100px;      
    margin: 8 auto;
    margin-top: 100px;  
}

.container-p {
        display: flex;
        flex-wrap: wrap; 
    
}        

.container{  
      max-width: 1200px; 
      margin: 0 auto;
}

.footer{
    background-color: rgba(0, 0, 0, .8);
    padding: 80px 0;
    
   
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size:20px;
    color: aliceblue;
    margin-bottom: 25px;
    border-bottom: 2px solid #5f6767;
    font-weight: 500;
    padding-bottom: 10px;
    display: inline-block
}

.footer-links ul li a {
    font-size:18px;
    text-decoration: none;
    color: aliceblue;
    display:block;
    margin-bottom: 15px;
    transition:all .3s ease;


}

.footer-links ul li a:hover {
    color:aliceblue;
    padding-left: 6px;
}

.volver {
    position: absolute;
    bottom: -280px;
    left: 50%;
    transform: translateX(-50%);
}

nav{
    max-width: auto;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 20px auto;
    z-index: 9999;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: left;
    position: relative;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: space-between; 
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal > li > a{
    display: block;
    padding: 25px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: rgb(121, 107, 107);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

.nombre-tienda {
    margin-left:auto; 
    margin-right: 30px;
    color: aliceblue;
}

nav{
    max-width: auto;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 20px auto;
  z-index: 9999;
}

.contenedor-padre-juegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-juegos {
    width: 450px; 
    background-color: rgba(51, 51, 51, 0.7);
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
}

.contenedor-juegos img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.contenido {
    flex: 1;
}

.precio, .descripcion {
    color: #ffffff;
    font-size: 18px;
    
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(31, 28, 28);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.card:hover{
    filter: contrast(150%);
}

.carousel-item:hover{
    filter: drop-shadow(30px 30px 20px rgba(28, 25, 25, 0.7));
}
.form-label p{
    color:rgb(255, 255, 255)
}